$extra_light_italic: 'Kiro Extra Light Italic';
$extra_light: 'Kiro Extra Light';
$light: 'Kiro Light';
$regular: 'Kiro Regular';
$bold: 'Kiro Bold';

$social: 'Socialico';

$black: #000000;
$white: #ffffff;
$blue: #49657c;
$light_blue: #79d7f8;


body {
	font-family: $regular;
}
h1 {
	font-size: 58px;
}


.social {
	font-family: $social;
	a {
		font-size: 40px;
		color: $white;
		text-decoration: none;
		@include transition (all, 0.2s, linear);
		&:hover {
			color: $light_blue;
		}
	}
}